<!doctype html>
<title>{% block title %}{% endblock %} - Chordy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav>
  <ul class="nav justify-content-end">
    {% if g.user %}
        <li class="nav-item"><a class="nav-link" href="">{{ g.user['username'] }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logoutfunct') }} ">Log Out</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('signupfunct') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block app_content %}{% endblock app_content %}
</section>