{ % extends 'base.html' %}

{% block app_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <!--<form class="form-signin" method="post" action="">-->
            <!--<div class="form-label-group">-->
             <!--<input type="username" id="username" class="form-control" placeholder="User Name" required autofocus>-->
             <!--<label for="username">User Name</label>-->
            <!--</div>-->
            <!--<div class="form-label-group">-->
             <!--<input type="password" id="password" class="form-control" placeholder="Password" required>-->
             <!--<label for="password">Password</label>-->
            <!--</div>-->
            <!--<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Log In">Sign in</button>-->
            <!--<hr class="my-4">-->
            <!--<button class="btn btn-lg btn-secondary btn-block text-uppercase" onclick="location.href='signup.html';"> Sign Up</button>-->
          <!--</form>-->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}