<!doctype html>
<title>{% block title %}{% endblock %} - Chordy</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->

<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('logoutfunct') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('signupfunct') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block app_content %}{% endblock app_content %}
</section>